*.o
*.a
export/
install/
bin/bufdisp/bufdisp
bin/create_eq_cfg/create_eq_cfg
bin/create_eq_mdt/create_eq_mdt
bin/htxd/htxcmdline
bin/htxd/htxd
bin/hxeasy/hxeasy
bin/hxecache/hxecache
bin/hxecd/hxecd
bin/hxecd/utils/getDVD
bin/hxecom/auto
bin/hxecom/hxecom
bin/hxecom/hxecom2
bin/hxecom/mkintfmap
bin/hxedapl/hxedapl
bin/hxefabricbus/hxefabricbus
bin/hxefpu64/hxefpu64
bin/hxemem64/hxemem64
bin/hxerng/hxerng
bin/hxesamp/hxesamp
bin/hxesctu/hxesctu
bin/hxestorage/hxestorage
bin/hxetape/hxetape
bin/hxetlbie/hxetlbie
bin/hxsmsg/hxsmsg
bin/hxssup/hxssup
bin/hxstats/hxstats
bin/show_syscfg/show_syscfg
